{% extends 'base.html' %}

{% block content %}
<h1>Work Experience</h1>
<div class="row">
    <div class="col s12 m8">
      <div class="card   grey lighten-2">
        <div class="card-content black-text">
          <span class="card-title"> Childcare Specialist</span>
          <p>Managed seven children from the ages of 0-4, responsible for scheduling of educational, social skills and events
            Supported children's emotional and social development, encouraging understanding of others and positive self-concepts
            Communicated with children's parents or guardians regarding daily activities and behaviors
            </p>
            <div class="card-action row">
                <p class="col s6"> Mar 2015 - Dec 2017</p>
                <p class="col s6">Cali-Colombia</p>
              </div>
        </div>
       
      </div>
    </div>
    <div class="col s12 m8">
        <div class="card grey lighten-2">
          <div class="card-content black-text">
            <span class="card-title">Event Manager’s Assistant </span>
            <p>Established and designed company web platform by restrategizing branding and marketing efforts to increase customer engagement online and drive
                
                </p>
                <div class="card-action row">
                    <p class="col s6">Feb 2012 - May 2014</p>
                    <p class="col s6">Cali-Colombia</p>
                  </div>
          </div>
          
        </div>
      </div>
  </div>
{% endblock content %}
    