{% extends 'base.html' %}
{% block content %}


<div class="row">

    <div class="col s6 topheading">
        <h2>Lilibeht Montano</h2>
        <h4>Software Enginner</h4>
        <p>Full stack engineer, passionate about solving problems through technology. Varied technical background through self-education, college courses and projects and ongoing bootcamp experience. Strong work ethic, good planning and prioritization skills,
        great working in teams, and strong communicator. </p>
        
           <ul class="row">
               <li class="col s2"> <a href="https://github.com/lilibella28">Github</a></li>
               <li class="col s2"> <a href="https://www.linkedin.com/in/lilibeht-montano-29659113b/">Linkedin</a></li>
           </ul>
    
    </div>
    <div class="col s6"><img src="https://i.imgur.com/QFNUEec.jpg" alt="profile"></div>
</div>

    {% endblock %}
 
