{% extends 'base.html' %}
{% block content %}
    <h1>Projects</h1>
    <div class="row">
        <div class="col s4 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/QFNUEec.jpg">
              <span class="card-title">Mancala</span>
            </div>
            <div class="card-content">
              <p> Built interactive game called “Mancala” using Javascript that allows users to click and move marbles counterwise clockwise
                Used Vanilla Javascript to manipulate the DOM for user interaction and implemented CSS Grid and flexbox layout and design 
                </p>
            </div>
            
            <div class="card-action">
              <a href="https://github.com/lilibella28/PicoMe">Github</a>
              <a href="https://picome.herokuapp.com/orders">Live Site</a>
            </div>
          </div>
        </div>  
        <div class="col s4 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/QFNUEec.jpg">
              <span class="card-title">PicoMe</span>
            </div>
            <div class="card-content">
              <p>PicoMe is a browser-based application that utilizes
                 mongoose to allow users to perform CRUD operations on a MongoDB database. PicoMe mission is to create a platform that allows users to share or request food assistance 
                from the community without cost.</p>
            </div>
           
            <div class="card-action">
              <a href="https://github.com/lilibella28/PicoMe">Github</a>
              <a href="https://picome.herokuapp.com/orders">Live Site</a>
            </div>
          </div>
        </div> 
        <div class="col s4 m6" >
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/QFNUEec.jpg">
              <span class="card-title">Job Tracker(Group Project)</span>
            </div>
            <div class="card-content">
              <p>PicoMe is a browser-based application that utilizes
                 mongoose to allow users to perform CRUD operations on a MongoDB database. PicoMe mission is to create a platform that allows users to share or request food assistance 
                from the community without cost.</p>
            </div>
           
            <div class="card-action">
              <a href="https://github.com/lilibella28/PicoMe">Github</a>
              <a href="https://picome.herokuapp.com/orders">Live Site</a>
            </div>
          </div>
        </div> 
      </div>
               

{% endblock %}