{% extends 'base.html' %}
{% block content %}
    <h1>Projects</h1>
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/QFNUEec.jpg">
              <span class="card-title">Mancala</span>
            </div>
            <div class="card-content">
              <p>Built interactive game called “Mancala” using Javascript that allows users to click and move marbles counterwise clockwise
                Used Vanilla Javascript to manipulate the DOM for user interaction and implemented CSS Grid and flexbox layout and design 
                </p>
            </div>
            <div class="card-action">
                <a href="#">Technology</a>
              </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
               

{% endblock %}