{% extends 'base.html' %}
{% block content %}
<h2>Tecnical Skills  </h2>
<div class="row">
  <h5>Language & Framework</h5>
    
   
      <div class="col s3 m6">Python
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB3lVWpf0XiDHdvn2HTlt2BHia-vIAQYCqaCnnNEpiRNh2v5Pdiz7Z51s5SJN2LbQRsw8&usqp=CAU" alt="">
      </div>
      <div class="col s3 m6">Javascript
        <img src="https://www.tutorialrepublic.com/lib/images/javascript-illustration.png" alt="">
      </div>
      <div class="col s3 m6">HTML | CSS | Materialize
        <img src="https://miro.medium.com/max/792/1*lJ32Bl-lHWmNMUSiSq17gQ.png" alt="">
      </div>
      <div class="col s3 m6" > Node.js | Express
        <img src="https://miro.medium.com/max/1051/1*q9myzo5Au8OfsaSrCodNmw.png" alt="">
      </div>
    
 
  </div>
  <div>

    <div class="col s4 m8">
      <h5>Database</h5>
        <div>MongoDB |  Mongoose
          <img src="" alt="" width="50">
        </div>
        <div> Django
          <img src="" alt="" width="50">
        </div>
        
        
      </div>
      <div class="col s4 m8">
        <h5>Management & Deployment:</h5>
          <div> Linux |  Git | Github
            <img src="" alt="" width="50">
          </div>
          <div> Heroku | Vscode
            <img src="" alt="" width="50">
          </div>
          
          
        </div>

<//div>
    

    {% endblock %}