{% extends 'base.html' %}
{% block content %}
<h2>Tecnical Skills  </h2>
<div class="row">
    <div class="col s4 m8">
    <h5>Language & Framework</h5>
      <div>Python
        <img src="" alt="" width="50">
      </div>
      <div>Javascript
        <img src="" alt="" width="50">
      </div>
      <div>HTML | CSS | Materialize
        <img src="" alt="" width="50">
      </div>
      <div> Node.js | Express
        <img src="" alt="" width="50">
      </div>
    </div>
    <div class="col s4 m8">
      <h5>Database</h5>
        <div>MongoDB |  Mongoose
          <img src="" alt="" width="50">
        </div>
        <div> Django
          <img src="" alt="" width="50">
        </div>
        
        
      </div>
      <div class="col s4 m8">
        <h5>Management & Deployment:</h5>
          <div> Linux |  Git | Github
            <img src="" alt="" width="50">
          </div>
          <div> Heroku | Vscode
            <img src="" alt="" width="50">
          </div>
          
          
        </div>

</div>
    

    {% endblock %}